<!--
  Tabs and tab content switching taken from a combination of these examples (mainly second example);
  https://www.w3schools.com/howto/howto_js_tabs.asp
  https://stackoverflow.com/questions/44630684/angular-4-click-changes-the-class-of-another-element-without-using-jquery
-->

<div class="tournament-box">

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" (click)="activeTab = 'myTourneys'">My Tournaments</button>
  <button class="tablinks" (click)="activeTab = 'pubTourneys'">Public Tournaments</button>
  <button class="tablinks" (click)="activeTab = 'currTourney'">Selected Tournament</button>
</div>
<div class="background">
<!-- Tabs content -->
<div [ngClass]="{show: activeTab=='myTourneys', hide: activeTab!='myTourneys'}">
  <h3>My Tournaments</h3>
  <p>Create new tournament here [link]</p>
  <h3>Tournaments</h3>
  <ul class="mytournamentdiv">
    <ng-container *ngFor="let tournament of ownTourneyData?.tournaments">
      <li><button (click)="activeTab = 'currTourney'; updateTournamentData(tournament.tournamentID)">{{ tournament.name }}</button></li>
    </ng-container>
  </ul>
</div>
<div [ngClass]="{ show: activeTab=='pubTourneys', hide: activeTab!='pubTourneys'}">
  <h3>Public Tournaments</h3>
  <div class="publictournamentdiv">
    <ng-container *ngFor="let tournament of allTourneyData?.tournaments">
      <li><button (click)="activeTab = 'currTourney'; updateTournamentData(tournament.tournamentID)">{{ tournament.name }}</button></li>
    </ng-container>
  </div>
</div>
<div [ngClass]="{show: activeTab=='currTourney', hide: activeTab!='currTourney'}">
  <h3>Current Tournament: </h3>
  <p>Tournament information, schedule, matches played here...</p>

  <p>Database file last updated on {{ tournamentData?.timestamp }}</p>

  <main id="tournament">
    <ul class="round" *ngFor="let round of tournamentData?.matches">
      <li class="spacer">&nbsp;</li>

      <ng-container *ngFor="let match of round">
        <li class="game game-top">{{ match.p1 }}</li>
        <li class="game game-spacer"> </li>
        <li class="game game-bottom">{{ match.p2 }}</li>

        <li class="spacer"> </li>
      </ng-container>
    </ul>
  </main>
</div>
</div>
</div>
