<div class="user-container" *ngIf="stats">
  <table class="player-overall-stats">
    <tr class="top-row">
      <th class="user" rowspan="2"><img class="user-image" src="../../assets/players/profileImages/index.png"></th>
      <th class="username" rowspan="2">{{attribute.name}}</th>

      <th rowspan="2"><a [routerLink]="['/team', {'player': attribute.name}]">view player teams</a></th>
      <th class="filler" rowspan="2"></th>
      <td>Time played</td>
      <td class="mobile-hide" >Wins</td>
      <td class="mobile-hide" >Losses</td>
      <td>Win rate</td>
      <td class="mobile-hide" >XP</td>
      <td>Account Level</td>
      <td class="mobile-hide" >AI plays</td>
      <td class="mobile-hide" >Rating mean</td>
      <td class="mobile-hide" >Rating deviant</td>
    </tr>
    <tr class="bottom-row">

      <td>{{customstats.timePlayed}}</td><!-- time played -->
      <td class="mobile-hide">{{stats[2]}}</td><!-- wins -->
      <td class="mobile-hide" >{{stats[3]}}</td><!-- losses -->
      <td>{{customstats['winRate']}}</td><!-- win rate -->
      <td class="mobile-hide" >{{stats[25]}}</td><!-- XP -->
      <td>{{stats[26]}}</td><!-- Account Level -->
      <td class="mobile-hide" >{{stats[56]}}</td><!-- AI plays-->
      <td class="mobile-hide">{{stats[70]}}</td><!-- Rating mean -->
      <td class="mobile-hide" >{{stats[71]}}</td><!-- Rating deviant -->
    </tr>
  </table>

  <div id="ranking-container">

    <div class="ranking-alignment-box">
      <div class="ranking-box">
        <div class="ranking-title">Ranked 2v2 plays</div>
        <div class="solo-ranked">r2v2 wins: {{stats[10]}}</div>
        <div class="solo-ranked">r2v2 losses: {{stats[11]}}</div>
      </div>
    </div>

    <div class="ranking-alignment-box">
      <div class="ranking-box">
        <div class="ranking-title">Ranked 3v3 plays</div>
        <div class="solo-ranked">r3v3 wins: {{stats[12]}}</div>
        <div class="solo-ranked">r3v3 losses: {{stats[13]}}</div>
      </div>
    </div>

    <div class="ranking-alignment-box">
      <div class="ranking-box">
        <div class="ranking-title">Unranked 2v2 plays</div>
        <div class="solo-ranked">u2v2 wins: {{stats[14]}}</div>
        <div class="solo-ranked">u2v2 losses: {{stats[15]}}</div>
      </div>
    </div>

    <div class="ranking-alignment-box">
      <div class="ranking-box">
        <div class="ranking-title">Unranked 3v3 plays</div>
        <div class="solo-ranked">r3v3 wins: {{stats[16]}}</div>
        <div class="solo-ranked">r3v3 losses: {{stats[17]}}</div>
      </div>
    </div>

    <div class="ranking-alignment-box">
      <div class="ranking-box">
        <div class="ranking-title">Brawl plays</div>
        <div class="solo-ranked">brawl wins: {{stats[18]}}</div>
        <div class="solo-ranked">brawl losses: {{stats[19]}}</div>
      </div>
    </div>

    <div class="ranking-alignment-box">
      <div class="ranking-box">
        <div class="ranking-title">Battleground plays</div>
        <div class="solo-ranked">Bg wins: {{stats[22]}}</div>
        <div class="solo-ranked">Bg losses: {{stats[23]}}</div>
      </div>
    </div>
  </div>


  <div class="champions-container">
    <app-charts></app-charts>
  </div>
  <div class="champions-container">
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="Champion" colspan="2">Champion</th>
        <th mat-sort-header="Time Played">Time Played (h)</th>
        <th mat-sort-header="Wins">Total Wins</th>
        <th mat-sort-header="Losses">Total Losses</th>

        <th mat-sort-header="Ranked 2v2 wins" class="mobile-hide">Ranked 2v2 wins</th>
        <th mat-sort-header="Ranked 2v2 losses" class="mobile-hide">Ranked 2v2 losses</th>
        <th mat-sort-header="Ranked 3v3 wins" class="mobile-hide">Ranked 3v3 wins</th>
        <th mat-sort-header="Ranked 3v3 losses" class="mobile-hide">Ranked 3v3 losses</th>
        <th mat-sort-header="Unranked 2v2 wins" class="mobile-hide">Unranked 2v2 wins</th>
        <th mat-sort-header="Unranked 2v2 losses" class="mobile-hide">Unranked 2v2 losses</th>
        <th mat-sort-header="Unranked 3v3 wins" class="mobile-hide">Unranked 3v3 wins</th>
        <th mat-sort-header="Unranked 3v3 losses"  class="mobile-hide">Unranked 3v3 losses</th>

        <th mat-sort-header="Brawl wins" class="mobile-hide">Brawl wins</th>
        <th mat-sort-header="Brawl losses" class="mobile-hide">Brawl losses</th>
        <th mat-sort-header="Battleground wins" class="mobile-hide">Battleground wins</th>
        <th mat-sort-header="Battleground losses" class="mobile-hide">Battleground losses</th>
      </tr>
      <ng-container *ngFor="let playerData of sortedData">
            <tr>
              <td><img class="champion-image" src="../../assets/champions/images/{{playerData.icon}}.jpg"></td>
              <td class="champion-name">
                {{playerData.name}}<br>
                <div style="font-size: small;">
                  level {{playerData.level}}, {{playerData.xp}} xp
                </div>
              </td>

              <td> {{playerData.time}}</td>
              <td>{{playerData.twins}}</td>
              <td>{{playerData.tloss}}</td>
              <td class="mobile-hide"> {{playerData.rwins2}}</td>
              <td class="mobile-hide"> {{playerData.rloss2}}</td>
              <td class="mobile-hide"> {{playerData.rwins3}}</td>
              <td class="mobile-hide"> {{playerData.rloss3}}</td>
              <td class="mobile-hide"> {{playerData.uwins2}}</td>
              <td class="mobile-hide"> {{playerData.uloss2}}</td>
              <td class="mobile-hide"> {{playerData.uwins3}}</td>
              <td class="mobile-hide"> {{playerData.uloss3}}</td>

              <td class="mobile-hide"> {{playerData.bwins}}</td>
              <td class="mobile-hide"> {{playerData.bloss}}</td>
              <td class="mobile-hide"> {{playerData.bgwins}}</td>
              <td class="mobile-hide"> {{playerData.bgloss}}</td>
            </tr>
      </ng-container>
    </table>
  </div>
</div>
